@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.parent {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: auto ;
    min-height: fit-content;
    margin-top: 2rem;
    /* border: 2px solid firebrick; */

}

.text {
    width: 90%;


    margin-left: 1.4rem;
    margin-bottom: 1.9rem;

}

.skills {

    font-size: 42px;
    color: rgb(202, 202, 202);
    font-weight: 700;
    display: inline;
    margin: 0 0.5rem 0 0.5rem;
}

.para {
    color: rgb(138, 138, 138);
    display: inline;
    font-size: 18.4px;
    font-weight: 400;
    margin-bottom: 1.9rem;

}

.graph {
    /* border: 2px solid darkblue; */
    width: 100%;
    /* margin: auto; */
    margin-bottom: 2.5rem;
    max-height: 40% !important;
}

.skill {
    z-index: -12;
    position: fixed;
    font-size: 19rem;
    /* border: 2px solid ghostwhite; */
    top: -9% !important;
    right: -6%;
    margin: 0;
    color: rgb(38, 38, 38);
    font-family: 'Montserrat', sans-serif;
}

.top {
    padding: 0 1rem;
}

@media only screen and (max-width:1025px) {

    .text {

        font-size: 1rem;


    }

    .skills {

        font-size: 35px;

    }

    .para {
        color: rgb(138, 138, 138);
        display: inline;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1.9rem;

    }

    .skill {
        font-size: 15rem;
        top: -10% !important;
        right: -6%;
    }


}
@media only screen and (max-width:913px){
    .skill {
        font-size: 15rem;
        top: -4% !important;
        right: -6%;
    }
    .parent{
        padding-top: 1.5rem;
    }
    .skills{
     
            font-size: 2.4rem;
          
    }
    .para {
        font-size: 1.1rem !important;
    }
    .graph {
       
        width: 100%; 
        max-height: 50% !important;
        margin-top: 4rem;
    }
}
@media only screen and (max-width:514px){

    .skill{
        font-size: 7.6rem;
    }
    .para {
        font-size: 0.9rem !important;
    }
}
@media only screen and (max-width:409px){
.skills{
    font-size: 2.2rem;
}
}
@media only screen and (max-width:376px){
    .skills{
        font-size: 2rem;
    }
}
@media only screen and (max-width:369px){
    .skills{
        font-size: 1.9rem;
    }
}
@media only screen and (max-width:360px){
    .skills{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:349px){
    .skills{
        font-size: 1.7rem;
    }
}
