
body{
  background-color: rgb(47,47,47);
  font-family:  sans-serif;
  /* overflow-x: hidden; */
}
.line-animation {
  width: 0;
  position: absolute;
  top: 0;
  height: 0.5rem;
  background-color: rgb(106,106,106);
  animation: line-anim 2s forwards;
}

@keyframes line-anim {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.loader-container{

  width: 100px;
  margin: auto;
}